Source: network-env
Section: admin
Priority: optional
Maintainer: HIBINO Kei <hibi@utmc.or.jp>
Build-Depends: debhelper (>> 4.0.0)
Standards-Version: 3.7.2

Package: network-env
Architecture: all
Depends:
Description: Mobile network environment management tool
 Switching network environment for example on mobile machine.
