Source: network-env
Section: admin
Priority: optional
Maintainer: HIBINO Kei <hibi@utmc.or.jp>
Build-Depends-Indep: debhelper (>> 2.0.0)
Standards-Version: 3.5.2

Package: network-env
Architecture: all
Depends:
Description: Setting up mobile network environment
 Setting up mobile network environment.
